body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header, .footer {
    background-color:#1F2937;
    height: 75px;
}

.information {
    height: 300px;
}

.main {
    background-color:#1F2937;
    height: 300px;
}

.cta {
    height: 300px;
}
.quote {
    background-color: #E5E7EB;
    height: 300px;
}