body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header, .footer {
    background-color:#1F2937;
    height: 75px;
}

.information, .cta {
    height: 300px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.infoPics {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

img {
    border: 5px solid #3882F6;
}

.main {
    background-color:#1F2937;
    height: 300px;
}

.quote {
    background-color: #E5E7EB;
    height: 300px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links {
    margin: 60px;
    display: flex;
    gap: 15px;
}

.uuc {
    margin: 60px;
}

.main {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.maintext, .mainpic{
    margin: 60px;
}


.quote, .cta, .information, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}